body {
    margin: 0;
    padding: 0;
    background-image: url('WhiteBackground.png');
    background-size:cover;
    font-family:sans-serif;
}

.btnOrderPage, .btnStockPage, .btnEmployeePage, .btnCustomerPage, .btnLogout:hover {
    background-color: rgba(0,136,169,0.8);
}

.btnOrderPage, .btnStockPage, .btnEmployeePage, .btnCustomerPage, .btnLogout {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
